<h1><%= @post.ttile %></h1>
<p><%= @post.body %></p>

<hr>
<h2>Comments</h2>

<% @post.comments.each do |comment| %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= comment.body %>
  </div>
</div>

<% end %>

<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="form-group">
    <%= f.label "Comment here" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-block btn-success" %>
  </div>
<% end %>
